body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div {
    margin: 10;
}

h1 {
    text-align: center;
}

p {
    margin: 5px;
}

li {
    list-style-type: none;
}

ul li {
    padding: 20px 15px;
    padding-right: 40px;
    white-space: nowrap;
    text-decoration: none;
    user-select: none;
    margin-left: -40px;
}

ul li:hover {
    background-color: lightblue;
}

ul li span {
    color: green;
    float: right;
}


/*ul li:hover {
    background-color: lightblue;
}*/

.sidebar {
    position: fixed;
    z-index: 1;
    background-color: white;
    height: 100%;
    width: 300px;
    top: 0;
    right: 0;
    padding-bottom: 0;
    overflow-y: scroll;
}

.side-title {
    text-align: center;
}

.side-list {
    margin-left: 0;
}

.app-margin {
    margin: 0 1px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(200, 200, 200, 0.6);
}